$black-light: #333333;
$black: #000000;
$white: #ffffff;
$white-back: #F9F6EE;
$red: #F10707;
$blue-banner-side: #1A0481;
$blue-banner-center: #0F0252;
$yellow: #fff450;
$btn-top: #F8EBCB;
$btn-center: #978147;
$btn-bottom: #AE9F6D;
$blue: #3618F8;
$blue-light: #8AEEF5;
$blue-back: #F7F8FE;
$footer-back: #ECEBF1;
